.rate{
    display: flex;
    padding: 5px;
    border-bottom: 1px solid burlywood;
}
.code{
    margin-left: 50px;
    width: 100px;
}
.name{
    margin-left: 100px;
    width: 300px;
}
.price{
    margin-left: 970px;

}
.rate:hover{
    background-color: rgba(0, 0, 0, 0.1);
}